<main>
    <div class="position-relative">
        <!-- Hero for FREE version -->
        <section class="section section-lg">
            <!-- Background image -->
            <!-- <div class="shape "> 
        <img class="background-image" src="../../assets/img/jucar/image_2024-04-16_10-56-27.png" style="height: 100%; filter: brightness(50%); display: flex; ">
      </div> -->
            <div class="container d-flex align-items-center">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 text-center">
                            <img
                                src="../../assets/img/jucar/logojucarpng.png"
                                style="width: 200px"
                                class="img-fluid"
                            />
                            <p class="lead text-white">Juventude Carmelitana</p>
                            <div class="btn-wrapper mt-5">
                                <div class="align-items-center">
                                    <button
                                        type="button"
                                        class="btn btn-default"
                                        (click)="sortSaint()"
                                        href="#sortedSaint"
                                    >
                                        Descubra aqui seu
                                        <span class="text-warning"
                                            >Santo Carmelita</span
                                        >
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
            <div class="container">
                <div class="card shadow" *ngIf="visibleSortSaintCard == true" id="sortedSaint">
                    <div>
                        <div class="card-header">
                            <h3>Seu santo é...</h3>
                        </div>
                        <div class="card-body justify-content-center">
                            <div
                                class="row justify-content-center"
                                *ngIf="visibleSortedSaint == true"
                            >
                                <div class="col-lg-6 justify-content-center">
                                    <h3>{{ sortedSaint }}</h3>
                                    <img
                                        src="{{ sortedSaintImage }}"
                                        class="img-fluid"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <br />
</main>
